.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    min-height: 100vh;
}

.welcome {
    margin: 0;
    padding: 0;
    background-color: rgba(83, 134, 172, 1);
    height: 90px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-weight: 300;
}

.category_list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}