.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;
    /* min-height: 100vh; */
    position: relative;
}

.edit_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    color: #4A8B4D ;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    font-family: "Caveat";
    margin-bottom: 30px;
}

.edit_button:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in all;
}

.add_category_button {
    border: dashed 1px grey;
    background: transparent;
    font-size: 20px;
    width: 90%;
    height: 50px;
    color: grey;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.add_category_button:hover {
    background-color: rgba(122, 185, 125, 0.6);
}

.welcome {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 20px;
}

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: url("../../../../public/rice-paper-3.png"); */
    /* background-size: 300px 300px; */
    background-color: #F5F0E6;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.header_buttons_container {
    display: flex;
}

.category_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin:20px 0;
    padding: 10px;
    box-sizing: border-box;
    max-height: 350px;
    overflow-y: auto; 
    flex: 1; 
    max-height: calc(100vh - 300px);
}

.category_list::-webkit-scrollbar {
    display: none;
}
.category_list {
    scrollbar-width: none;
}

.add_category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 80%;
}

.add_buttons {
    display: flex;
    gap: 5px;
}

.user_name {
    cursor: pointer;
    border-bottom: 1px solid rgb(38, 102, 26);
}

.user_name:hover {
    background-color: rgba(74, 139, 77, 0.2);
}

.category_wrapeer {
    width: 100%;
}

.drop_target {
    border: 2px solid rgb(38, 102, 26);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .header_container {
        padding: 5px;
    }

    .category_list {
        padding: 5px;
        margin: 10px 0;
        max-height: calc(100vh - 320px); 
    }

    .header_buttons_container {
        flex-direction: column;
    }

    .add_category {
        flex-direction: column;
    }

    .logo {
        margin: 10px 0;
    }

    .welcome {
        font-size: 16px;
    }
    
}