.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;
}

.edit_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    padding: 5px;
    align-self: flex-end;
    border-bottom: 1px solid green;
}

.edit_button:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in all;
}

.add_category_button {
    /* margin-top: 26px; */
    border: dashed 1px grey;
    background: transparent;
    font-size: 20px;
    width: 98%;
    height: 70px;
    color: grey;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.add_category_button:hover {
    background-color: rgba(19, 97, 71, 0.2);
}

.welcome {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 20px;
}

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
}

.header_buttons_container {
    display: flex;
}

.category_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-height: 400px;
    margin:20px 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
}

.add_category {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    gap: 10px;
    box-sizing: border-box;
}

.add_buttons {
    display: flex;
    gap: 5px;
}

.user_name {
    cursor: pointer;
    border-bottom: 1px solid rgb(38, 102, 26);
}

.user_name:hover {
    background-color: rgba(19, 97, 71, 0.2);
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .header_container {
        padding: 5px;
    }

    .category_list {
        padding: 5px;
        margin: 10px 0;
        max-height: 280px;
    }

    .header_buttons_container {
        flex-direction: column;
    }

    .add_category {
        flex-direction: column;
        align-items: flex-start;
    }
    
}