.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.message {
    background-color: rgb(44, 167, 3);
    color: rgb(255, 255, 255);
    padding: 0 10px;
}