.container {
    max-width: 800px;
    min-width: 270px;
    border-radius: 10px;
    font-weight: 300;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../../../public/rice-paper-3.png");
    background-size: 300px 300px;
    background-color: #F5F0E6;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.info_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    background-color: #F8F4EA;
}

.title {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 15px;
    z-index: 10;
    margin-bottom: 5px;
}

.cards_count {
    margin: 0;
    padding: 0;
    font-size: 12px;

}

.main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px
}

.edit_container {
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
}

.delete_button {
    border-radius: 4px;
    border: none;
    background-color: #4A8B4D;
    color: white;
    box-shadow: 0 4px 6px rgba(74, 139, 77, 0.2);
    cursor: pointer;
}

.delete_button:hover {
    background-color: #7AB97D;
    box-shadow: 0 6px 8px rgba(74, 139, 77, 0.3);
}

 @media screen and (max-width: 520px) {
    .main_content {
        flex-direction: column;
        gap: 10px;
    }
    
}