.container {
    background-color: rgb(249, 249, 249);
    /* border: 1px solid rgb(215, 212, 212); */
    width: 100%;
    max-width: 800px;
    min-width: 270px;
    min-height: 90px;
    border-radius: 10px;
    font-weight: 300;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
    transition: 0.25s ease-in all;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); */
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 0;

}

.title {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 15px;
    z-index: 10;
    margin-bottom: 5px;
}

.cards_count {
    margin: 0;
    padding: 0;
    font-size: 12px;

}

.main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px
}

.edit_container {
    padding-bottom: 5px;
}

.delete_button {
    width: 25px;
    height: 25px;
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    z-index: 10;
    transition: 0.3s ease-in-out all;
    color: rgba(19, 97, 71, 0.8);
    border: 2px solid rgba(19, 97, 71, 0.8);
}

.delete_button:hover {
    transform: scale(1.2);
}

.edit_button {
    width: 25px;
    height: 25px;
    margin: 5px;
    border: none;
    color: rgba(19, 97, 71, 0.8);
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s ease-in-out all;
    border: 2px solid rgba(19, 97, 71, 0.8);
}

.edit_button:hover {
    transform: scale(1.2);
 }

 .goto {
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 40px;
    min-height: 70px;
    cursor: pointer;
    transition: 0.2s ease-in all;
 }

 .goto:hover {
    transform: scale(1.2);

 }


 @media screen and (max-width: 321px) {
    .container {
        padding: 0;
    }
    
}