.container {
    background-color: rgb(249, 249, 249);
    width: 100%;
    max-width: 800px;
    min-width: 270px;
    border-radius: 10px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: 0.25s ease-in all;
}

.info_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.container:hover {
    background-color: rgba(199, 226, 245, 0.5);
    cursor: pointer;
}

.title {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 15px;
    z-index: 10;
    margin-bottom: 5px;
}

.cards_count {
    margin: 0;
    padding: 0;
    font-size: 12px;

}

.main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px
}

.edit_container {
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.delete_button {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    z-index: 10;
    transition: 0.3s ease-in-out all;
    color: rgba(19, 97, 71, 0.8);
    border: 1px solid rgba(19, 97, 71, 0.8);
}

.delete_button:hover {
    transform: scale(1.2);
}

.edit_button {
    border: none;
    color: rgba(19, 97, 71, 0.8);
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s ease-in-out all;
    border: 1px solid rgba(19, 97, 71, 0.8);
}

.edit_button:hover {
    transform: scale(1.2);
 }

 /* .goto {
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 40px;
    min-height: 70px;
    cursor: pointer;
    transition: 0.2s ease-in all;
 }

 .goto:hover {
    transform: scale(1.2);

 } */


 @media screen and (max-width: 520px) {
    .main_content {
        flex-direction: column;
        gap: 10px;
    }
    
}