.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width: 321px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
}