.password_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}

.checkbox_label {
    font-size: 13px;
}

.show_password {
    position: absolute;
    z-index: 2;
    top: 36%;
    right: 2%;
    width: 35px;
    height: 35px;
    border: none;
    background-color: inherit;
    font-size: 23px;
}

.show_password:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
