.password_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.toggle_button {
    width: 150px;
    height: 30px;
    background-color: rgba(83, 134, 172, 1);
    border: none;
    color: white;
    border-radius: 5px;
}

.toggle_button:hover {
    background-color: rgba(83, 134, 172, 0.7);
}

.toggle_button:active {
    background-color: rgba(83, 134, 172, 0.2);
    border: 2px solid rgba(83, 134, 172, 1);
}
