.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #ffffff;
    width: 100%;
    align-items: center;
}

.label {
    text-align: start;
    font-size: 16px;
    background-color: rgba(83, 134, 172, 1);
    text-align: center;
    /* padding: 0 10px; */
    width: 100%;
}

.input {
    border: none;
    margin: 0;
    padding: 0;
    height: 50px;
    /* width: 100%; */
    font-size: 20px;
    background-color: #fff8f8b3;
    padding: 5px;
    color: rgba(83, 134, 172, 1);
}

.input::placeholder {
    font-size: 16px;
}

.input:focus {
    outline-color: #5386ac;
    outline-width: 2px;
}

.errorMessage {
    padding: 0 5px ;
    font-size: 10px;
    color: #ffffff;
    background-color: red;
}

.input::placeholder {
    font-size: 12px;
}