.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    width: 100%;
    align-items: center;
}

.label {
    text-align: start;
    font-size: 16px;
    background-color: rgba(83, 134, 172, 1);
    width: 100%;
    text-align: center;
}

.input {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: #fff8f8b3;
    padding: 5px;
}

.input::placeholder {
    font-size: 16px;
}

.input:focus {
    outline-color: #5386ac;
    outline-width: 2px;
}

.errorMessage {
    font-size: 10px;
    color: #ffffff;
    background-color: red;
}