.container {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.message {
    background-color: rgba(83, 134, 172, 1);
    
}