
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.logout {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -60px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    translate: 0.3s ease-in-out all;
}

.logout:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 370px) {
    .buttons {
        flex-direction: column;
    }    
}