.button {
    border: none;
    background-color: rgb(19, 97, 71); 
    width: 200px;
    height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer; 
    transition: all 0.2s ease; 
    font-size: 14px;
}

.button:hover {
    background-color: rgba(19, 97, 71, 0.5);
}

.button:active {
    background-color: rgba(19, 97, 71, 0.3);
}

.width_small {
    width: 100px;
}

.width_medium {
    width: 150px;
}

.width_large {
    width: 300px;
}

.width_full {
    width: 100%;
}

.button:disabled {
    background-color: rgb(188, 192, 190);
    cursor: not-allowed;
}

.correct {
    background-color: rgba(92, 147, 207, 1);
}

.incorrect {
    background-color: rgba(223, 44, 44, 1);
}

.correct:hover {
    background-color: rgba(92, 147, 207, 0.6);
    border: 1px solid blue;
}

.incorrect:hover {
    background-color: rgba(223, 44, 44, 0.6);
    border: 1px solid red;
}
