.button {
    border: none;
    background-color: rgba(19, 97, 71, 1); 
    width: 200px;
    height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer; 
    transition: all 0.2s ease; 
    font-size: 14px;
}

.button:hover {
    /* background-color: rgba(23, 175, 97, 0.7); */
    background-color: rgba(19, 97, 71, 0.8);
}

.button:active {
    background-color: rgba(83, 134, 172, 0.2);
    border: 2px solid rgba(83, 134, 172, 1);
}

.width_small {
    width: 100px;
}

.width_medium {
    width: 150px;
}

.width_large {
    width: 300px;
}

.width_full {
    width: 100%;
}

