.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    max-width: 800px;
    height: 100%;
}

.title {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.offline {
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: red;
    font-size: 12px;
}

.subtitle {
    margin: 0;
    padding: 0;
    margin: 10px;
    font-weight: 300;
    font-size: 18px;
}

.logo {
    margin: 0;
    color: #4A8B4D;
    font-weight: 600;
    font-size: 22px;
    top: 0%;
    right: 5%;
    text-decoration: none;
    font-family: "Caveat";
}

.already_register {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-top: 0.7px solid #2D5E2E;
}

.login_link {
    text-decoration: none;
    font-weight: 500;
    color: inherit;        
    outline: none; 
    color: #4A8B4D ;
}