.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(247, 228, 189, 0.3);
    width: 100%;
}

.form_buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: flex-end;
}

@media screen and (max-width: 400px) {
.container {
    align-items: center;
}

    .form_buttons {
        flex-direction: column;
    }
}