.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f7e4bd;
}

.form_buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: flex-end;
}