.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.title {
    font-weight: 300;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(83, 134, 172, 1);
}

.subtitle {
    margin: 0;
    background-color: rgba(83, 134, 172, 1);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
    text-align: center;
    font-weight: 300;
}

.code_display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    background-color: rgba(255, 248, 248, 0.702);
    color: rgba(83, 134, 172, 1);
    margin-bottom: 30px;
    border-radius: 10px;
}

.code_word {
    font-size: 20px;
}